{% extends 'base.html' %}
{% block title %}{{ post['title'] }} · {{ post['section_name'] }}{% endblock %}
{% block content %}
  <article class=\"post\">
    <a class=\"breadcrumb\" href=\"{{ url_for('section', slug=post['section_slug']) }}\">← Back to {{ post['section_name'] }}</a>
    <h1>{{ post['title'] }}</h1>
    <p class=\"meta\">Published: {{ post['created_at'][:10] }}</p>
    {% if post['image_path'] %}
      <img src=\"{{ url_for('static', filename=post['image_path']) }}\" alt=\"{{ post['title'] }}\" class=\"post-image\"/>
    {% endif %}
    <div class=\"post-body\">{{ post['body']|replace('\n', '<br>')|safe }}</div>
  </article>
{% endblock %}
